<?xml version="1.0"?>
<!--
/**
 * @package Bitbull_Tooso
 * @author Fabio Gollinucci <fabio.golinucci@bitbull.it>
 */
-->
<config>
    <modules>
        <Bitbull_ToosoStock>
            <version>1.0.0</version>
        </Bitbull_ToosoStock>
    </modules>
    <global>
        <models>
            <toosoStock>
                <class>Bitbull_ToosoStock_Model</class>
            </toosoStock>
        </models>
        <helpers>
            <toosoStock>
                <class>Bitbull_ToosoStock_Helper</class>
            </toosoStock>
        </helpers>
        <importexport>
            <export_file_formats>
                <tooso_csv translate="label">
                    <model_token>tooso/export_adapter_csv</model_token>
                    <label>CSV</label>
                </tooso_csv>
            </export_file_formats>
        </importexport>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Bitbull_ToosoStock before="Mage_Adminhtml">Bitbull_ToosoStock_Adminhtml</Bitbull_ToosoStock>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <toosoStock>
            <active>0</active>
        </toosoStock>
    </default>
    <crontab>
        <jobs>
            <tooso_stock>
                <schedule>
                    <cron_expr>*/15 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>toosoStock/observer::synchronizeStock</model>
                </run>
            </tooso_stock>
        </jobs>
    </crontab>
</config>
